%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
    %% http client
    {hackney, ".*", {git,"git://github.com/benoitc/hackney.git",
                     {branch, "master"}}},
%   {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "master"}},
    %% logging
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    %% cowboy HTTP handler
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.0"}}}
]}.

